<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<odoo>
    <menuitem id="menu_smart_workflow_root"
        name="Smart workflow"
        sequence="50"
    />

    <menuitem id="menu_workflow_rule"
        name="workflow Rules"
        parent="menu_smart_workflow_root"
        action="action_workflow_rule"
        sequence="10" 
    />
   
    <menuitem
        id="menu_workflow_queue"
        name="Workflow Queue"
        action="action_workflow_queue"
        parent="menu_smart_workflow_root"
        sequence="20"
    />
    <menuitem
        id="menu_workflow_log"
        name="Workflow Log"
        action="action_workflow_log"
        parent="menu_smart_workflow_root"
        sequence="30"/>
    <menuitem id="menu_workflow_action"
        name="Workflow Actions"
        parent="menu_smart_workflow_root"
        action="action_workflow_action"
        sequence="15"
    />
    <menuitem id="menu_test_workflow_root"
        name="Workflow Test"/>
    <menuitem id="menu_test_workflow_model"
     name="Test Model"
     parent="menu_test_workflow_root" 
     action="action_test_workflow_model"/>

     <!-- <menuitem id="menu_workflow_dashboard_menu"
          name="Dashboard"
          parent="menu_smart_workflow_root"
          action="action_workflow_dashboard_view"
          sequence="10"/> -->
</odoo>